body{
    font-family: Arial, sans-serif;
    background-color: whitesmoke;
    background-image:;
    background-size:;
    margin: 0;
    padding: 20px;
}

h1{
    color: #333;
}

p{
    font-size: 8px;
    font-weight:;
}
