body{
    font-family: Arial, sans-serif;
    background-color: whitesmoke;
    background-image: none;
    background-size: none;
    margin: 0;
    padding: 20px;
}

h1{
    color: #333;
}

p{
    font-size: 8px;
    font-weight: 0px;
}

.main-text{
 margin: 0;
}

#side-text{
 margin: 0;
}