/* General Styles */
body {
  margin: 0;
  font-family: "Lora", serif;
}

.grid-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
  height: 100vh;
}

/* Header */
.navBar {
  background-color: #333;
  color: #fff;
  position: relative; /* Gör så attnav-baren är rätt positionerad för nav-iconet*/
}

.topNav {
  display: flex; /* Använder flex för att linjera nav-innehållet*/
  align-items: center;
  position: relative; /* Säkergör så att naven är absolut positionerad för nav-iconet*/
}

.nav-icon {
  width: 75px;
  height: auto;
  position: absolute; /* Positioneringen ska vara absolut */
  left: 30px;
  top: 50%;
  transform: translateY(-50%); /* För vertykalt centering*/
  border-radius: 20px;
  border: 5px solid black;
}

.topNav a {
  display: block;
  text-align: center;
  padding: 40px;
  color: #fff;
  text-decoration: none;
  margin-left: 150px; /* Utrymmet för iconet*/
  font-size: 20px;
}

.topNav a.active,
.topNav a:hover {
  background-color: #555;
}

.main-content {
  margin-top: 50px;
}
.grid-container-main-videos {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(2, auto);
  gap: 10px;
}

.grid-item-video1 {
  background-color: #f0f0f0;
  padding: 1em;
  border: 5px solid black;
  margin-left: 50px;
  margin-right: 150px;
  margin-bottom: 20px;
  border-radius: 3px;
}

.grid-item-video2 {
  background-color: #f0f0f0;
  padding: 1em;
  border: 1px solid #ddd;
  border: 5px solid black;
  margin-left: 50px;
  margin-right: 150px;
  border-radius: 3px;
  margin-bottom: 50px;
}

.video1-text {
  float: right;
  text-align: center;
  margin-right: 550px;
  font-size: 20px;
  margin-top: 50px;
  margin-left: 30px;
}

.video2-text {
  float: right;
  text-align: center;
  margin-right: 550px;
  font-size: 20px;
}

/* Footern */
.footer {
  background-color: #333;
  color: #fff;
  padding: 1em;
  text-align: center;
  font-size: 23px;
}

iframe {
  border-radius: 5px;
}

footer a {
  top: 20px;
}

.grid-container-footer {
  display: flex;
  justify-content: center;
}

.grid-container-footer a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}

.grid-container-footer a:hover {
  text-decoration: underline;
}

/* Responsive Design */
@media (max-width: 900px) {
  .header {
    grid-template-columns: 1fr;
  }

  .main-content {
    grid-template-columns: 1fr;
  }

  .footer {
    padding: 0.5em;
  }

  .topNav {
    display: flex; /* Använder flex för att linjera nav-innehållet*/
    align-items: center;
    flex-direction: column;
    position: relative; /* Säkergör så att naven är absolut positionerad för nav-iconet*/
  }
  .topNav a {
    display: block;
    text-align: center;
    padding: 20px;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
  }
  .nav-icon {
    width: 75px;
    position: absolute; /* Positioneringen ska vara absolut */
    left: 90px;
    top: 50%;
    transform: translateY(-50%); /* För vertykalt centering*/
    border-radius: 20px;
    border: 5px solid black;
  }
}
